/* Coolors Exported Palette - coolors.co/080705-40434e-162da1-d4d8df-fffffa */

/* HEX */
$color1: #080705;
$color2: #40434e;
$color3: #162da1;
$color4: #d4d8df;
$color5: #fffffa;

/* HSL */
$color1: hsla(40%, 23%, 3%, 1);
$color2: hsla(227%, 10%, 28%, 1);
$color3: hsla(230%, 76%, 36%, 1);
$color4: hsla(218%, 15%, 85%, 1);
$color5: hsla(60%, 100%, 99%, 1);

/* RGB */
$color1: rgba(8, 7, 5, 1);
$color2: rgba(64, 67, 78, 1);
$color3: rgba(22, 45, 161, 1);
$color4: rgba(212, 216, 223, 1);
$color5: rgba(255, 255, 250, 1);